//variables
$sidebar-background: #FFFFFF
$divider: #B6B6B6
$primary-text: #212121
$secondary-text: #727272
$primary-color: #2196F3
$dark-primary-color: #1976D2
$light-primary-color: #BBDEFB
$accent-color: #FF5252

//mixins

//styles
body
  margin: 0
  padding: 0

.sidebar
  height: 100%
  z-index: 100

.wrapper
  position: absolute
  left: 0
  top: 0
  //width: 90%
  height: 100%
  background: $sidebar-background
  z-index: 10
  transform: translate3d(-100%, 0, 0)
  will-change: transform
  overflow-y: scroll
  -webkit-overflow-scrolling: touch //IOS
  -webkit-backface-visibility: hidden

.backflip
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: black
  opacity: 0
  visibility: hidden
  will-change: opacity
  transform: translate3d(0,0,0)
  -webkit-backface-visibility: hidden

.sdb

  &-header
    background: $light-primary-color
    height: 200px

  &-list
    margin: 0
    list-style-type: none
    padding: 0

    &__item
      padding: 0 10px
      height: 60px
      line-height: 60px
      border-top: 1px solid $divider

    &__item:first-child
      border: none

.header
  height: 200px
  background: $primary-color
  box-shadow: 0 2px 6px rgba(0,0,0,0.2)

.hamburger
  float: right